body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
}

section {
    display: flex;
    gap: 1vw;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page {
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 6vw;
    height: 4vh;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.75);
    background-color: rgb(187, 0, 0);
    color: white;
    font-size: large;
}


.container {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(143, 210, 236);
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item {
    width: 700px;
    height: 500px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;

}

.current-item {
    opacity: 1;
    cursor: pointer;
}


.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


